<!-- 滿版畫面 -->
<div id="mySidenav" class="TopChartNav">
  <div class=" col-8 float-right sidepanel pr-0 pl-0">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <h2 class="card-title Toptit shadow">行銷人員工作一覽</h2>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <div id="switch_0" class="card ">
            <h5 class="card-title ">
              <div class="row">
                <div class="col-7 disablecolor">
                  <div class="row no-gutters subtit">A123122313</div>
                  <div class="row no-gutters tit">張美美</div>
                </div>
                <div class="col-5 float-right">
                  <div class="row">
                    <div class="col-8 ">
                      <div class="row disablecolor">
                        <div class="col-5 pl-0 pr-0">
                          <span class="greenLink ps_note">20/30</span>
                        </div>
                        <div class="col-5 pr-0 pl-0 border-right">
                          <div class="circle">


                            <div class="p270"></div>
                            <div class="p180"></div>
                            <div class="p90"></div>


                          </div>
                        </div>
                      </div>
                      <div class="border-right">

                      </div>
                    </div>
                    <div class="col-4 pr-0 pl-0">
                      <label class="switch">
                        <input type="checkbox" name="switch_0">
                        <span class="slider round" data-toggle="tooltip" title="開啟分派"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </h5>
            <div class="card-body pt-0 disablecolor">
              <div class="row">
                <div class="col-8"></div>
                <div class="col-2 pr-0 pl-0">已追蹤</div>
                <div class="col-2 pr-0 pl-0">未追蹤</div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">網路進件</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>

              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">EBM</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">轉介</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>
              </div>


            </div>
            <div class="maturity">
              <h6>到期日 2018/04/23</h6>
            </div>
          </div>
          <div id="switch_1" class="card">
            <h5 class="card-title">
              <div class="row">
                <div class="col-7">
                  <div class="row no-gutters subtit">A123122313</div>
                  <div class="row no-gutters tit">張美美</div>
                </div>
                <div class="col-5 float-right">
                  <div class="row">
                    <div class="col-8 ">
                      <div class="row">
                        <div class="col-5 pl-0 pr-0">
                          <span class="greenLink ps_note">20/30</span>
                        </div>
                        <div class="col-5 pr-0 pl-0 border-right">
                          <div class="circle">


                            <div class="p270"></div>
                            <div class="p180"></div>
                            <div class="p90"></div>


                          </div>
                        </div>
                      </div>
                      <div class="border-right">

                      </div>
                    </div>
                    <div class="col-4 pr-0 pl-0">
                      <label class="switch">
                        <input name="switch_1" type="checkbox" checked>
                        <span class="slider round" data-toggle="tooltip" title="關閉分派"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </h5>
            <div class="card-body pt-0 ">
              <div class="row">
                <div class="col-8"></div>
                <div class="col-2 pr-0 pl-0">已追蹤</div>
                <div class="col-2 pr-0 pl-0">未追蹤</div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">網路進件</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>

              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">EBM</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">轉介</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>
              </div>

            </div>
            <div class="maturity displayno">
              <h6>到期日 2018/04/23</h6>
            </div>
          </div>
          <div id="switch_2" class="card">
            <h5 class="card-title">
              <div class="row">
                <div class="col-7">
                  <div class="row no-gutters subtit">A123122313</div>
                  <div class="row no-gutters tit">張美美</div>
                </div>
                <div class="col-5 float-right">
                  <div class="row">
                    <div class="col-8 ">
                      <div class="row">
                        <div class="col-5 pl-0 pr-0">
                          <span class="greenLink ps_note">20/30</span>
                        </div>
                        <div class="col-5 pr-0 pl-0 border-right">
                          <div class="circle">


                            <div class="p270"></div>
                            <div class="p180"></div>
                            <div class="p90"></div>


                          </div>
                        </div>
                      </div>
                      <div class="border-right">

                      </div>
                    </div>
                    <div class="col-4 pr-0 pl-0">
                      <label class="switch">
                        <input name="switch_2" type="checkbox" checked>
                        <span class="slider round" data-toggle="tooltip" title="關閉分派"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </h5>
            <div class="card-body pt-0 ">
              <div class="row">
                <div class="col-8"></div>
                <div class="col-2 pr-0 pl-0">已追蹤</div>
                <div class="col-2 pr-0 pl-0">未追蹤</div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">網路進件</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>

              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">EBM</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">轉介</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>
              </div>

            </div>
            <div class="maturity displayno">
              <h6>到期日 2018/04/23</h6>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div id="switch_3" class="card">
            <h5 class="card-title">
              <div class="row">
                <div class="col-7">
                  <div class="row no-gutters subtit">A123122313</div>
                  <div class="row no-gutters tit">張美美</div>
                </div>
                <div class="col-5 float-right">
                  <div class="row">
                    <div class="col-8 ">
                      <div class="row">
                        <div class="col-5 pl-0 pr-0">
                          <span class="greenLink ps_note">20/30</span>
                        </div>
                        <div class="col-5 pr-0 pl-0 border-right">
                          <div class="circle">


                            <div class="p270"></div>
                            <div class="p180"></div>
                            <div class="p90"></div>


                          </div>
                        </div>
                      </div>
                      <div class="border-right">

                      </div>
                    </div>
                    <div class="col-4 pr-0 pl-0">
                      <label class="switch">
                        <input name="switch_3" type="checkbox" checked>
                        <span class="slider round" data-toggle="tooltip" title="關閉分派"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </h5>
            <div class="card-body pt-0 ">
              <div class="row">
                <div class="col-8"></div>
                <div class="col-2 pr-0 pl-0">已追蹤</div>
                <div class="col-2 pr-0 pl-0">未追蹤</div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">網路進件</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>

              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">EBM</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">轉介</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>
              </div>

            </div>
            <div class="maturity displayno">
              <h6>到期日 2018/04/23</h6>
            </div>
          </div>
          <div id="switch_4" class="card">
            <h5 class="card-title">
              <div class="row">
                <div class="col-7">
                  <div class="row no-gutters subtit">A123122313</div>
                  <div class="row no-gutters tit">張美美</div>
                </div>
                <div class="col-5 float-right">
                  <div class="row">
                    <div class="col-8 ">
                      <div class="row">
                        <div class="col-5 pl-0 pr-0">
                          <span class="greenLink ps_note">20/30</span>
                        </div>
                        <div class="col-5 pr-0 pl-0 border-right">
                          <div class="circle">


                            <div class="p270"></div>
                            <div class="p180"></div>
                            <div class="p90"></div>


                          </div>
                        </div>
                      </div>
                      <div class="border-right">

                      </div>
                    </div>
                    <div class="col-4 pr-0 pl-0">
                      <label class="switch">
                        <input name="switch_4" type="checkbox" checked>
                        <span class="slider round" data-toggle="tooltip" title="關閉分派"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </h5>
            <div class="card-body pt-0 ">
              <div class="row">
                <div class="col-8"></div>
                <div class="col-2 pr-0 pl-0">已追蹤</div>
                <div class="col-2 pr-0 pl-0">未追蹤</div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">網路進件</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>

              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">EBM</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">轉介</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>
              </div>

            </div>
            <div class="maturity displayno">
              <h6>到期日 2018/04/23</h6>
            </div>
          </div>
          <div id="switch_5" class="card">
            <h5 class="card-title">
              <div class="row">
                <div class="col-7">
                  <div class="row no-gutters subtit">A123122313</div>
                  <div class="row no-gutters tit">張美美</div>
                </div>
                <div class="col-5 float-right">
                  <div class="row">
                    <div class="col-8 ">
                      <div class="row">
                        <div class="col-5 pl-0 pr-0">
                          <span class="greenLink ps_note">20/30</span>
                        </div>
                        <div class="col-5 pr-0 pl-0 border-right">
                          <div class="circle">


                            <div class="p270"></div>
                            <div class="p180"></div>
                            <div class="p90"></div>


                          </div>
                        </div>
                      </div>
                      <div class="border-right">

                      </div>
                    </div>
                    <div class="col-4 pr-0 pl-0">
                      <label class="switch">
                        <input name="switch_5" type="checkbox" checked>
                        <span class="slider round" data-toggle="tooltip" title="關閉分派"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </h5>
            <div class="card-body pt-0 ">
              <div class="row">
                <div class="col-8"></div>
                <div class="col-2 pr-0 pl-0">已追蹤</div>
                <div class="col-2 pr-0 pl-0">未追蹤</div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">網路進件</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>

              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">EBM</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="Longchartarea">
                    <span class="loanChartNote">轉介</span>
                    <span class="loanChartNote float-right sidepanel">60%</span>
                    <div class="Longchart sidepanel">
                      <div class="value"></div>
                    </div>
                  </div>
                </div>
                <div class="col-2 pt-3">2</div>
                <div class="col-2 pt-3">2</div>
              </div>

            </div>
            <div class="maturity displayno">
              <h6>到期日 2018/04/23</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>