<!doctype html>
<html lang="zh-Hant">
@@include('./components/head.html')

<body>
  <div class="container-fluid pl-0 pr-0">
    @@include('./components/sidebar.html', { "sidebar": "customerSearch" })
    <div id="main-content" class="main-content">
      @@include('./components/navbar.html')
      <!-- 顧客查詢 -->
      <section>
        <nav class="navbar justify-content-between panel-head ">
          <span class="navbar-brand ">顧客查詢</span>

          <ul class="nav float-sm-right float-xs-none nav-function-btn">

            <li>
              <button type="button" class="nav-link btn" data-target="#exampleModal" data-toggle="modal" data-whatever="@mdo ">
                <i class="fa fa-plus iconspace" aria-hidden="true"></i>新增潛在顧客</button>
            </li>

          </ul>
        </nav>
        <div class="area shadow">
          <div id="search-section-0" class="form-row mr-0">
            <div class="form-group col-12 col-md-4 col-lg-3" name="custID">
              <label>統一編號</label>
              <input id="custID" type="text" class="form-control inputstyle " placeholder="e.g. A123456789 " maxlength="10">
              <div class="error-msg">
                <span>請輸入正確統一編號</span>
              </div>
            </div>
            <div class="form-group col-12 col-md-4 col-lg-3" name="tel">
              <label>手機號碼</label>
              <input id="custNum" type="text" class="form-control inputstyle " placeholder="e.g. 0988123123 " maxlength="10">
            </div>
            <div class="form-group col-12 col-md-4 col-lg-3" name="name">
              <label>戶名</label>
              <input type="search" class="form-control inputstyle " placeholder="e.g. 王小明 ">
            </div>
            <div class="form-group col-12 col-md-4 col-lg-3">
              @@include('./components/input/searh-btn-group.html', {"btnClear": true})
            </div>
          </div>
        </div>
      </section>
      <!-- Customer 表單 -->
      <div id="result_1" class="table-responsive data-list displayno">
        <table class="table table-striped tableinfo">
          <thead>
            <tr>
              <th scope="col ">顧客屬性</th>
              <th scope="col ">主經營行</th>
              <th scope="col ">統一編號</th>
              <th scope="col ">戶名</th>
              <th scope="col ">手機號碼</th>
              <th scope="col ">生日</th>

              <th scope="col "></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>個人戶</td>
              <td>01234 板橋分行</td>
              <td>A128940184</td>
              <td>
                陳大發
              </td>
              <td>0933887163</td>
              <td>107/02/10</td>
              <td class="money-right">
                <div class="btn-group ">
                  <button class="btn btn-outline-primary btn-sm " type="button" onclick="{location.href='./customer_data.html' } ">
                    檢視
                  </button>
                  <button type="button " class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                    aria-haspopup="true " aria-expanded="fals">
                    <span class="sr-only ">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu ">
                    <a class="dropdown-item " href="marketing_search_EDM.html">寄送電子 DM</a>
                    <a class="dropdown-item " href="# " data-toggle="modal" data-target="#addselflist" data-whatever="@mdo ">新增自建名單</a>
                    <a class="dropdown-item " href="# " data-toggle="modal" data-target="#addmeeone">新增行程</a>
                    <a class="dropdown-item " href="# " data-toggle="modal" data-target="#marketTrans" data-whatever="@mdo ">商機轉介</a>

                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>潛在顧客（系統）</td>
              <td></td>
              <td>A128940184</td>
              <td>
                吳先生
              </td>
              <td>0933887163</td>
              <td>107/02/10</td>
              <td class="money-right">
                <button type="button" class="btn btn-outline-primary btn-sm" type="button " onclick="{location.href='./namelist_data_IntLoan.html' } ">
                  檢視
                </button>
              </td>
            </tr>
            <tr>
              <td>潛在顧客（李玩玩)</td>
              <td></td>
              <td>A128940184</td>
              <td>
                林小姐
              </td>
              <td>0933887163</td>
              <td>107/02/10</td>
              <td class="money-right">
                <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#maintain" data-whatever="@mdo ">
                  檢視
                </button>
              </td>
            </tr>
            <tr>
              <td>潛在顧客（李媛媛)</td>
              <td></td>
              <td>A128940184</td>
              <td>
                林小姐
              </td>
              <td>0933887163</td>
              <td>107/02/10</td>
              <td class="money-right">
                <button type="button" class="btn btn-outline-primary btn-sm" onclick="{location.href='./namelist_data_selflist.html' } ">
                  檢視
                </button>
              </td>
            </tr>
            <tr>
              <td>公司戶</td>
              <td>01234 板橋分行</td>
              <td>28940184</td>
              <td>
                陳美科技有限公司
              </td>
              <td>0933887163</td>
              <td></td>
              <td class="money-right">
                <div class="btn-group ">
                  <button class="btn btn-outline-primary btn-sm " type="button" onclick="{location.href='./company_data.html' } ">
                    檢視
                  </button>
                  <button type="button " class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                    aria-haspopup="true " aria-expanded="fals">
                    <span class="sr-only ">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu ">
                    <a class="dropdown-item " href="marketing_search_EDM.html">寄送電子 DM</a>
                    <a class="dropdown-item " href="# " data-toggle="modal" data-target="#addselflist" data-whatever="@mdo ">新增自建名單</a>
                    <a class="dropdown-item " href="# " data-toggle="modal" data-target="#addmeeone">新增行程</a>
                    <a class="dropdown-item " href="# " data-toggle="modal" data-target="#marketTrans" data-whatever="@mdo ">商機轉介</a>

                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>個人戶</td>
              <td>01234 板橋分行</td>
              <td>A128940184</td>
              <td>
                陳大發
              </td>
              <td>0933887163</td>
              <td>107/02/10</td>
              <td class="money-right">
                <div class="btn-group ">
                  <button class="btn btn-outline-primary btn-sm " type="button" onclick="{location.href='./customer_data.html' } ">
                    檢視
                  </button>
                  <button type="button " class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                    aria-haspopup="true " aria-expanded="fals">
                    <span class="sr-only ">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu ">
                    <a class="dropdown-item " href="marketing_search_EDM.html">寄送電子 DM</a>
                    <a class="dropdown-item " href="# " data-toggle="modal" data-target="#addselflist" data-whatever="@mdo ">新增自建名單</a>
                    <a class="dropdown-item " href="# " data-toggle="modal" data-target="#addmeeone">新增行程</a>
                    <a class="dropdown-item " href="# " data-toggle="modal" data-target="#marketTrans" data-whatever="@mdo ">商機轉介</a>

                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>個人戶</td>
              <td>01234 板橋分行</td>
              <td>A128940184</td>
              <td>
                無沒有
              </td>
              <td>0933887163</td>
              <td>107/02/10</td>
              <td class="money-right">
                <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#confirmCust" data-whatever="@mdo ">
                  <i class="fa fa-exclamation-triangle iconspace  color-danger"></i>確認查詢
                </button>
              </td>
            </tr>
            <tr>
              <td>個人戶</td>
              <td>01234 板橋分行</td>
              <td>A128940184</td>
              <td>
                白先簪
              </td>
              <td>0933887163</td>
              <td>107/02/10</td>
              <td class="money-right">
                <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#confirmCust" data-whatever="@mdo ">
                  <i class="fa fa-exclamation-triangle iconspace  color-danger"></i>確認查詢
                </button>
              </td>
            </tr>


          </tbody>
        </table>
        <!-- pageNum -->
        @@include('./components/datatable/pagination.html')
      </div>
    </div>
  </div>

  <!-- 新增潛在顧客 -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">新增潛在顧客</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-row">
            <div class="form-group col-12">
              <label>潛客類別
                <span class="markRed">*</span>
              </label>
              <div class="col-12">
                <div class="form-check form-check-inline">
                  <input id="customer" name="client" checked="true" type="radio" style="cursor: pointer;">
                  <label for="customer" style="cursor: pointer;">個人戶</label>
                </div>
                <div class="form-check form-check-inline">
                  <input id="company" name="client" type="radio">
                  <label for="company" style="cursor: pointer;">公司戶</label>
                </div>
              </div>
            </div>
            <!--  data-id="customer_inputs"  -->
            <div data-id="customer_inputs" class="form-group col-6">
              <label>姓名<span class="markRed">*</span></label>
              <input type="text" class="form-control inputstyle" placeholder="e.g. 陳大明">
            </div>
            <div data-id="customer_inputs" class="form-group col-6">
              <label>身分證字號</label>
              <input type="text" class="form-control inputstyle" placeholder="e.g. A1234567">
            </div>
            <div data-id="customer_inputs" class="form-group col-6">
              <label>聯繫用手機
                <span class="markRed">*</span>
              </label>
              <input type="text" class="form-control inputstyle" placeholder="e.g. 09341118888">
            </div>
            <div data-id="customer_inputs" class="form-group col-6">
              <label>生日</label>
              <input class="form-control inputstyle" type="text" name="singledate" placeholder="請選擇日期...">
            </div>
            <div data-id="customer_inputs" class="form-group col-12">
              <label>通訊地址</label>
              <input type="text" class="form-control inputstyle" placeholder="請輸入...">
            </div>
            <div data-id="customer_inputs" class="form-group col-12">
              <label>E-mail</label>
              <input type="text" class="form-control inputstyle" placeholder="e.g. 123123@eaun.banl.com">
            </div>
            <div data-id="customer_inputs" class="col-12">
              <div class="dropdown-divider"></div>
            </div>
            <p data-id="customer_inputs" class="mt-2 mb-3 col-12">
              <i class="fa fa-exclamation-triangle markRed" aria-hidden="true"></i>下列選項用於自建名單</p>
            <div data-id="customer_inputs" class="form-group col-6">
              <label>產品別
                <span class="markRed">*</span>
              </label>
              <select class="selectpicker inputstyleSelect">
                <option>信貸</option>
                <option>副擔保</option>
                <option>房貸</option>

                <option>卡友貸</option>
                <option>保險(儲蓄險、房貸壽險)</option>
              </select>
            </div>
            <div data-id="customer_inputs" class="form-group col-6">
              <label>來源說明</label>
              <select class="selectpicker inputstyleSelect">
                <option>客服轉介</option>
              </select>
            </div>
            <!--  data-id="customer_inputs"  -->
            <!--  data-id="company_inputs"  -->
            <div data-id="company_inputs" class="displayno form-group col-6">
              <label>公司名稱
                <span class="markRed">*</span>
              </label>
              <input type="text" class="form-control inputstyle" placeholder="e.g. 陳大明">
            </div>
            <div data-id="company_inputs" class="displayno form-group col-6">      
              <label>公司統編</label>
              <input type="text" class="form-control inputstyle" placeholder="e.g. A1234567">
            </div>
            <div data-id="company_inputs" class="displayno form-group col-12">
              <label>公司地址</label>
              <input type="text" class="form-control inputstyle">
            </div>
            <div data-id="company_inputs" class="displayno form-group col-6">
              <label>負責人姓名</label>
              <input type="text" class="form-control inputstyle" placeholder="e.g. 陳大明">
            </div>
            <div data-id="company_inputs" class="displayno form-group col-6">
              <label>負責人統一編號</label>
              <input type="text" class="form-control inputstyle" placeholder="e.g. A1234567">
            </div>
            <div data-id="company_inputs" class="displayno form-group col-6">
              <label>聯繫用手機
                <span class="markRed">*</span>
              </label>
              <input type="text" class="form-control inputstyle" placeholder="e.g. 09341118888">
              </div>
            <div data-id="company_inputs" class="displayno form-group col-6">
              <label>生日</label>
              <input class="form-control inputstyle" type="text" name="singledate" placeholder="請選擇日期...">
            </div>
            <div data-id="company_inputs" class="displayno form-group col-12">
              <label>E-mail</label>
              <input type="text" class="form-control inputstyle" placeholder="e.g. 123123@eaun.banl.com">
            </div>
            <div data-id="company_inputs" class="displayno col-12">
              <div class="dropdown-divider"></div>
            </div>
            <p data-id="company_inputs" class="displayno mt-2 mb-3 col-12">
              <i class="fa fa-exclamation-triangle markRed" aria-hidden="true"></i>下列選項用於自建名單</p>
            <div data-id="company_inputs" class="displayno form-group col-6">
              <label>產品別
                <span class="markRed">*</span>
              </label>
              <select class="selectpicker inputstyleSelect">
                <option value="" class="displayno">請選擇...</option>
                <option>信貸</option>
                <option>副擔保</option>
                <option>房貸</option>
                <option>小型事業(SB)</option>
                <option>卡友貸</option>
                <option>保險(儲蓄險、房貸壽險)</option>
              </select>
            </div>
            <div data-id="company_inputs" class="displayno form-group col-6">
              <label>來源說明</label>
              <select class="selectpicker inputstyleSelect">
                <option>客服轉介</option>
                <option>顧客介紹</option>
              </select>
            </div>
            <!--  data-id="company_inputs"  -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-gry" data-dismiss="modal" aria-label="Close">取消</button>
          <button type="button" class="btn btn-ylw " data-dismiss="modal" aria-label="Close">儲存</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 新增行程1 id="addmeone" -->

  <!-- 新增商機轉介-->
  <div class="modal fade" id="marketTrans" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">新增商機轉介</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label>統一編號</label>
              <input type="text" class="form-control inputstyle" placeholder="e.g. A123456678" value="A123456678" disabled>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col ml-3">
                  <label>戶名

                  </label>
                  <input type="text" class="form-control inputstyle" placeholder="e.g. 李爸名" value="陳大發" disabled>

                </div>
                <div class="col mr-3">
                  <label>電話

                  </label>
                  <input type="text" class="form-control inputstyle" placeholder="e.g. 09331114442" value="0988-123-123" disabled>

                </div>

              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col ml-3">
                  <label>轉介人員

                  </label>
                  <input type="text" class="form-control inputstyle" value="012344 李圓圓" disabled>

                </div>
                <div class="col mr-3">
                  <label>轉介產品

                  </label>
                  <select class="selectpicker inputstyleSelect">
                    <option value="" class="displayno">請選擇...</option>
                    <option>信貸</option>
                    <option>副擔保</option>
                    <option>房貸</option>
                    <option>小型事業(SB)</option>
                    <option>卡友貸</option>
                    <option>保險(儲蓄險、房貸壽險)</option>
                    <option>其他保險(非儲蓄險、房貸壽險)</option>
                  </select>

                </div>

              </div>
            </div>
            <div id="select_option" class="form-group displayno">
              <div class="row">
                <div class="col-12">
                  <label>轉介商品備註
                  </label>
                  <input type="text" class="form-control inputstyle" placeholder="請輸入保單流水編號">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col ml-3">
                  <label>受理轉介單位

                  </label>
                  <select class="selectpicker inputstyleSelect">
                    <option value="" class="displayno">請選擇...</option>

                  </select>
                </div>
                <div class="col mr-3">
                  <label>受理轉介人員

                  </label>
                  <select class="selectpicker inputstyleSelect">
                    <option value="" class="displayno">請選擇...</option>

                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="note">備註

              </label>
              <label class="float-right ps_note">(0/250)</label>
              <textarea class="form-control inputstyletextArea" rows="5" placeholder="請輸入..."></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-gry" data-dismiss="modal" aria-label="Close">取消</button>
          <button type="button" class="btn btn-ylw " data-dismiss="modal" aria-label="Close">確定</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 潛在顧客維護中-->
  <div class="modal fade" id="maintain" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="2" id="exampleModalLabel">潛在顧客維護中</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <p>
            2018-04-16 / 信貸團隊 / 陳樂融 / 房貸，請與該經辦聯繫
          </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-ylw " data-dismiss="modal" aria-label="Close">知道了</button>
        </div>
      </div>
    </div>


  </div>

  <!-- 確認顯示內容 -->
  <div class="modal fade" id="confirmCust" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">確認顯示內容</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <p>
            <span class="markRed">本行(含金控事業群)經理人以上之主管</span> ，是否確認查詢？

          </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-gry " onclick="{location.href='./customer_data.html' }">確定</button>
          <button type="button" class="btn btn-ylw" data-dismiss="modal" aria-label="Close">取消</button>

        </div>
      </div>
    </div>


  </div>

  @@include('./components/footer.html')
  <script>
    var custID = '';
    var custIDIValid = true;
    $(document).ready(function () {
      /**
       *   1. add class 'select-change'
       *   2. view's id naming rule is 'selectID_option順序'
       */
      $('select.select-change').each(function () {
        var select_id = $(this).attr('id');
        var childrenCount = $('#' + select_id).children().length;
        $('#' + select_id).on('changed.bs.select', function (e, clickedIndex, isSelected,
          previousValue) {
          for (var i = 0; i < childrenCount; i++) {
            var view_id = '#' + select_id + '_' + i;
            $(view_id).addClass('displayno')
          }
          $('#' + select_id + '_' + clickedIndex).removeClass('displayno');


          // 額外條件 展示細項類別使用
          if (select_id === 'selectmore') {
            if (clickedIndex === 1) {
              $('#detail_result').removeClass('displayno')
            } else {
              $('#detail_result').addClass('displayno')
            }
          }
        })
      })
      /**/

      /**/

      $('input[type=radio][name=client]').on('change', function () {
        switch (this.id) {
          case 'customer':
            $('[data-id="customer_inputs"]').removeClass('displayno')
            $('[data-id="company_inputs"]').addClass('displayno')
            break;
          case 'company':
            $('[data-id="customer_inputs"]').addClass('displayno')
            $('[data-id="company_inputs"]').removeClass('displayno')
            break;
          default:
            break;
        }
      });

      $('#custID').on('focus', function (e) {
        if (e.target.value == '') {
          $('div[name=custID]').removeClass('error')
          return;
        }
        var reg = new RegExp(/^[A-Z][12][0-9]{8}$/)
        custIDIValid = reg.test(e.target.value);
        custIDIValid ? $('#search-section-0 div[name=custID]').removeClass('error') : $(
          '#search-section-0 div[name=custID]').addClass('error');
      })
      $('#custID').on('blur', function (e) {
        if (e.target.value == '') {
          $('#search-section-0 div[name=custID]').removeClass('error')
          return;
        }
        var reg = new RegExp(/^[A-Z][12][0-9]{8}$/)
        custIDIValid = reg.test(e.target.value);
        custIDIValid ? $('#search-section-0 div[name=custID]').removeClass('error') : $(
          '#search-section-0 div[name=custID]').addClass('error');
      })

      $('#custID').on('keyup', function (e) {
        var reg = new RegExp(/^[A-Z][12][0-9]{8}$/)
        custIDIValid = reg.test(e.target.value);
        custIDIValid ? $('#search-section-0 div[name=custID]').removeClass('error') : $(
          '#search-section-0 div[name=custID]').addClass('error');
      })

      $('#search-section-0').on('keyup', function () {
        var disabled = true;
        $("#search-section-0 :input[type=text]").each(function () {
          if ($(this).attr('id') == 'custID') {
            disabled = !custIDIValid
          } else {
            disabled = ($(this).val() == '');
          }
          if (!disabled) {
            return false;
          } // break out of loop
        });

        $('#searchBtn-0').prop('disabled', disabled);
      })

      $('#search-section-1').on('keyup', function () {
        var disabled = true;
        $("#search-section-1 :input[type=text]").each(function () {
          if ($(this).attr('id') == 'custID') {
            disabled = !custIDIValid
          } else {
            disabled = ($(this).val() == '');
          }
          if (!disabled) {
            return false;
          } // break out of loop
        });

        $('#searchBtn-1').prop('disabled', disabled);
      })

      // 新增行程控制 tableRow
      $('input[type=radio][name=wrap-name]').on('change', function () {
        setTableRowDisable($(this).val() === 'false')
      })


    });

    function search(id) {
      $('#' + id).removeClass('displayno');
    }

    function onSearchCust() {
      // show table

      var text = $('#custNum').val();
      if (text == 'error') {
        var htmlString = $('#search_error').html();
        $('#data-list-0').html(htmlString)
      }

    }

    function onClearSearchParam() {
      $('div[name=custID]').removeClass('error');
    }

    function cancel() {
      $('#confirm').modal('toggle');
    }

    function close(id) {
      var vid = '#' + id;
      $(vid).modal('hide');
    }

    function step1() {
      this.modalOpen('addmeeone');
      this.close('addmeettwo');
    }

    function step2() {
      this.close('addmeeone');
      this.modalOpen('addmeettwo');
    }

    function modalOpen(id) {
      var vid = '#' + id;
      $(vid).modal('show');
    }

    function closeModal(id) {
      this.close(id)
    }

    function openDatePicker(id) {
      console.log('aaa')
      var did = "#" + id
      $(did).datepicker('show');
    }

    // 新增行程控制 tableRow
    function setTableRowDisable(disabled) {
      $('#addmeeone table tbody tr').each(function (index, el) {
        var elemet = $(el)
        if (disabled) {
          elemet.addClass('table-light')
          $(elemet.find('input')).prop('checked', !disabled).prop('disabled', disabled)
        } else {
          elemet.removeClass('table-light')
          if (index === 0) {
            $(elemet.find('input')).prop('checked', true).prop('disabled', disabled)
          } else {
            $(elemet.find('input')).prop('disabled', disabled)
          }
        }
      })
    }
  </script>

  <script id="search_error" type="text/template">
    <div class="nodata">
      <div>
        <img src="img/img_empty.png" class="d-inline-block align-top" alt="">
      </div>
      <h6>查無資料</h6>
      <button type="button " class="btn btn-outline-primary my-2 my-sm-0 " data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">新增潛在顧客</button>
    </div>
  </script>
</body>

</html>