<!doctype html>
<html lang="zh-Hant">
@@include('./components/head.html')
<body>
    <div class="container-fluid pl-0 pr-0">
        @@include('./components/sidebar.html', {
			"sidebar": "customerSearch"
		})
        <div id="main-content" class="main-content">
            @@include('./components/navbar.html', { "navbarType": "mananger" })
            <!-- 顧客查詢 -->
            <section>
                @@include('./components/breadcrumb.html', { 
					"breadcrumb": [ 
						{ "name": "顧客查詢", "href": "M_customer_search.html" }, 
						{ "name": "特記對象查詢記錄" }
					], 
					"rightTool": ""
				})
                <div style="padding-left: 20px;">
                    <h4 class="name">
                        <span>特記對象查詢記錄</span>
                    </h4>
                </div>

                <div class="area shadow">
                    <div id="search-section-0" class="form-row mr-0">
                        <div class="form-group col-12 col-md-4 col-lg-3" name="name">
                            <label>查詢者</label>
                            <select class="selectpicker" data-live-search="true" multiple title="請選擇...">
                                <option data-tokens="ketchup mustard">01234 李玉珊</option>
                                <option data-tokens="mustard">01234 陳保珊</option>
                                <option data-tokens="frosting">01234 陳玉珊</option>
                            </select>

                        </div>
                        <div class="form-group col-12 col-md-4 col-lg-3" name="custID">
                            <label>被查詢者統編</label>
                            <input id="custID" type="text" class="form-control inputstyle " placeholder="e.g. A123456789 " maxlength="10">
                            <div class="error-msg">
                                <span>請輸入正確身分證字號</span>
                            </div>
                        </div>

                        <div class="form-group col-12 col-md-4 col-lg-3" name="name">
                            <label>被查詢者戶名</label>
                            <input type="text" class="form-control inputstyle " placeholder="e.g. 王小明 ">
                        </div>
                        <div class="form-group col-12 col-md-4 col-lg-3" name="name">
                            <label>查詢日期</label>
                            <input class="form-control inputstyle" type="text" name="singledate" placeholder="請選擇日期...">
                        </div>
                        <div class="form-group col-12 col-md-4 col-lg-3">
                            @@include('./components/input/searh-btn-group.html', {"btnClear": true})
                        </div>
                    </div>
                </div>
            </section>
            <!-- Customer 表單 -->
            <div id="result_1" class="table-responsive data-list displayno">
                <table class="table table-striped tableinfo">
                    <thead>
                        <tr>
                            <th scope="col ">查詢日期</th>
                            <th scope="col ">查詢時間</th>
                            <th scope="col ">查詢者</th>
                            <th scope="col ">查詢者單位</th>
                            <th scope="col ">被查詢者統一編號</th>
                            <th scope="col ">被查詢者戶名</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2018/03/28</td>
                            <td>10:23</td>
                            <td>
                                00362 王妍彤
                            </td>
                            <td>01234 板橋分行</td>
                            <td>A123456789</td>
                            <td>陳大發</td>
                        </tr>
                        <tr>
                            <td>2018/03/28</td>
                            <td>10:23</td>
                            <td>
                                00362 王妍彤
                            </td>
                            <td>01234 板橋分行</td>
                            <td>A123456789</td>
                            <td>陳大發</td>
                        </tr>
                        <tr>
                            <td>2018/03/28</td>
                            <td>10:23</td>
                            <td>
                                00362 王妍彤
                            </td>
                            <td>01234 板橋分行</td>
                            <td>A123456789</td>
                            <td>陳大發</td>
                        </tr>
                        <tr>
                            <td>2018/03/28</td>
                            <td>10:23</td>
                            <td>
                                00362 王妍彤
                            </td>
                            <td>01234 板橋分行</td>
                            <td>A123456789</td>
                            <td>陳大發</td>
                        </tr>

                    </tbody>
                </table>
                <!-- pageNum -->
                <nav class="navNum navbar-light">
                    <form class="form-inline">
                        <div>
                            <button class=" btn-sm pageNum">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </button>
                            <button class=" btn-sm pageNum">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                            <span class="loanChartNote">1 of 1</span>
                        </div>
                        <div>
                            <span class="loanChartNote">Items per page:
                                <select class="form-control inputstyle">
                                    <option>50</option>
                                </select>
                            </span>
                        </div>
                    </form>
                </nav>
            </div>

        </div>


        <!-- 新增潛在顧客-個人戶 -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">新增潛在顧客</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>潛客類別
                                    <span class="markRed">*</span>
                                </label>
                                <div class="form-row">
                                    <div class="form-check">
                                        <input id="woman" name="gender" checked="true" type="radio">
                                        <label for="woman">個人戶</label>
                                    </div>
                                    <div class="form-check">
                                        <input id="man" name="gender" type="radio">
                                        <label for="man">公司戶</label>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col ml-3">
                                        <label>姓名</label>
                                        <input type="text" class="form-control inputstyle" placeholder="e.g. 陳大明">
                                    </div>
                                    <div class="col mr-3">
                                        <label>身分證字號</label>
                                        <input type="text" class="form-control inputstyle" placeholder="e.g. A1234567">
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col ml-3">
                                        <label>聯繫用手機
                                            <span class="markRed">*</span>
                                        </label>
                                        <input type="text" class="form-control inputstyle" placeholder="e.g. 09341118888">
                                    </div>
                                    <div class="col mr-3">
                                        <label>生日</label>
                                        <input class="form-control inputstyle" type="text" name="singledate" placeholder="請選擇日期...">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>通訊地址</label>
                                <input type="text" class="form-control inputstyle">
                            </div>
                            <div class="form-group">
                                <label>E-mail</label>
                                <input type="text" class="form-control inputstyle" placeholder="e.g. 123123@eaun.banl.com">
                            </div>
                            <div class="dropdown-divider"></div>
                            <p class="mb-2">
                                <i class="fa fa-exclamation-triangle markRed" aria-hidden="true"></i>下列選項用於自建名單</p>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col ml-3">
                                        <label>產品別
                                            <span class="markRed">*</span>
                                        </label>
                                        <select class="selectpicker inputstyleSelect">
                                            <option>信貸</option>
                                            <option>副擔保</option>
                                            <option>房貸</option>
                                            <option>小型事業(SB)</option>
                                            <option>卡友貸</option>
                                            <option>保險(儲蓄險、房貸壽險)</option>
                                        </select>
                                    </div>
                                    <div class="col mr-3">
                                        <label>來源說明</label>
                                        <select class="selectpicker inputstyleSelect">
                                            <option>客服轉介</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-gry" data-dismiss="modal" aria-label="Close">取消</button>
                        <button type="button" class="btn btn-ylw " data-dismiss="modal" aria-label="Close">儲存</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 新增潛在顧客-公司戶戶 -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">新增潛在顧客</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>潛客類別
                                    <span class="markRed">*</span>
                                </label>
                                <div class="form-row">
                                    <div class="form-check">
                                        <input id="woman" name="gender" type="radio">
                                        <label for="woman">個人戶</label>
                                    </div>
                                    <div class="form-check">
                                        <input id="man" name="gender" type="radio" checked="true">
                                        <label for="man">公司戶</label>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col ml-3">
                                        <label>公司名稱
                                            <span class="markRed">*</span>
                                        </label>
                                        <input type="text" class="form-control inputstyle" placeholder="e.g. 陳大明">
                                    </div>
                                    <div class="col mr-3">
                                        <label>公司統編</label>
                                        <input type="text" class="form-control inputstyle" placeholder="e.g. A1234567">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label>公司地址</label>
                                <input type="text" class="form-control inputstyle">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col ml-3">
                                        <label>負責人姓名
                                            <span class="markRed">*</span>
                                        </label>
                                        <input type="text" class="form-control inputstyle" placeholder="e.g. 陳大明">
                                    </div>
                                    <div class="col mr-3">
                                        <label>負責人統一編號</label>
                                        <input type="text" class="form-control inputstyle" placeholder="e.g. A1234567">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col ml-3">
                                        <label>聯繫用手機
                                            <span class="markRed">*</span>
                                        </label>
                                        <input type="text" class="form-control inputstyle" placeholder="e.g. 09341118888">
                                    </div>
                                    <div class="col mr-3">
                                        <label>生日</label>
                                        <input class="form-control inputstyle" type="text" name="singledate" placeholder="請選擇日期...">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>E-mail</label>
                                <input type="text" class="form-control inputstyle" placeholder="e.g. 123123@eaun.banl.com">
                            </div>


                            <div class="dropdown-divider"></div>
                            <p class="mb-2">
                                <i class="fa fa-exclamation-triangle markRed" aria-hidden="true"></i>下列選項用於自建名單</p>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col ml-3">
                                        <label>產品別
                                            <span class="markRed">*</span>
                                        </label>
                                        <select class="selectpicker inputstyleSelect">
                                            <option>信貸</option>
                                            <option>副擔保</option>
                                            <option>房貸</option>
                                            <option>小型事業(SB)</option>
                                            <option>卡友貸</option>
                                            <option>保險(儲蓄險、房貸壽險)</option>
                                        </select>
                                    </div>
                                    <div class="col mr-3">
                                        <label>來源說明</label>
                                        <select class="selectpicker inputstyleSelect">
                                            <option>客服轉介</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-gry" data-dismiss="modal" aria-label="Close">取消</button>
                        <button type="button" class="btn btn-ylw " data-dismiss="modal" aria-label="Close">儲存</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 潛在顧客維護中-->
        <div class="modal fade" id="maintain" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">潛在顧客維護中</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <p>
                            2018-04-16 / 信貸團隊 / 陳樂融 / 房貸，請與該經辦聯繫
                        </p>

                    </div>
                    <div class="modal-footer">


                        <button type="button" class="btn btn-ylw ">知道了</button>
                    </div>
                </div>
            </div>


        </div>
        <!-- 確認ｐopup -->
        <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">確認顯示內容</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <p>

                            <span class="markRed">本行(含金控事業群)經理人以上之主管</span>，是否確認查詢？
                        </p>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-gry" onclick="cancel()">確認</button>
                        <button type="button" class="btn btn-ylw " onclick="confirm()">取消</button>
                    </div>
                </div>
            </div>


        </div>

        <!-- 設定到期日 -->
        <div class="modal fade" id="todate" tabindex="-1" role="dialog" aria-labelledby="todate" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="todate">設定到期日</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label>日期</label>
                            <input class="form-control inputstyle" type="text" name="singledate" placeholder="請選擇日期...">
                        </div>
                        <h6>
                            <i class="fa fa-info-circle iconspace" aria-hidden="true"></i>時間到期後則自動開啟，該行銷人員可繼續接受分派</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-gry" data-dismiss="modal" aria-label="Close" onclick="saveToDate = false;">取消</button>
                        <button type="button" class="btn btn-ylw " data-dismiss="modal" aria-label="Close" onclick="saveToDate = true;">儲存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


@@include('./components/footer.html')
<script>
    var custType = 0;
    var custID = '';
    var custIDIValid = true;
    $(document).ready(function () {
        /**/
        //$('input[name=custtype]').filter('[value=' + custType + ']').prop('checked', true);
        $('input[name=custtype]').on('change', function () {
            custType = $(this).val();
            $('input[name=custtype]').each(function () {
                var id = $(this).val();
                $('#search-section-' + id).removeClass('show');
            })

            $('#search-section-' + custType).addClass('show');
        });

        $('#custID').on('focus', function (e) {
            if (e.target.value == '') {
                $('div[name=custID]').removeClass('error')
                return;
            }
            var reg = new RegExp(/^[A-Z][12][0-9]{8}$/)
            custIDIValid = reg.test(e.target.value);
            custIDIValid ? $('#search-section-0 div[name=custID]').removeClass('error') : $(
                '#search-section-0 div[name=custID]').addClass('error');
        })
        $('#custID').on('blur', function (e) {
            if (e.target.value == '') {
                $('#search-section-0 div[name=custID]').removeClass('error')
                return;
            }
            var reg = new RegExp(/^[A-Z][12][0-9]{8}$/)
            custIDIValid = reg.test(e.target.value);
            custIDIValid ? $('#search-section-0 div[name=custID]').removeClass('error') : $(
                '#search-section-0 div[name=custID]').addClass('error');
        })

        $('#custID').on('keyup', function (e) {
            var reg = new RegExp(/^[A-Z][12][0-9]{8}$/)
            custIDIValid = reg.test(e.target.value);
            custIDIValid ? $('#search-section-0 div[name=custID]').removeClass('error') : $(
                '#search-section-0 div[name=custID]').addClass('error');
        })

        $('#search-section-0').on('keyup', function () {
            var disabled = true;
            $("#search-section-0 :input[type=text]").each(function () {
                if ($(this).attr('id') == 'custID') {
                    disabled = !custIDIValid
                } else {
                    disabled = ($(this).val() == '');
                }
                if (!disabled) {
                    return false;
                } // break out of loop
            });

            $('#searchBtn-0').prop('disabled', disabled);
        })

        $('#search-section-1').on('keyup', function () {
            var disabled = true;
            $("#search-section-1 :input[type=text]").each(function () {
                if ($(this).attr('id') == 'custID') {
                    disabled = !custIDIValid
                } else {
                    disabled = ($(this).val() == '');
                }
                if (!disabled) {
                    return false;
                } // break out of loop
            });

            $('#searchBtn-1').prop('disabled', disabled);
        })

        // 行銷人員 switch 
        $('label.switch').each(function (index, el) {
            var input = $(el).find('input');
            $(input).on('change', function (event) {
                var checked = $(this).prop('checked');
                var parentId = '#' + $(this).prop('name');
                var title = $(parentId).find('.card-title .row .col-7');
                var circle = $(parentId).find('.card-title .row .col-5 .row .col-8 .row')
                var body = $(parentId).find('.card-body');
                var maturity = $(parentId).find('.maturity');
                var tooltip = $(parentId).find('span[data-toggle=tooltip]');
                if (checked) {
                    $(title).removeClass('disablecolor');
                    $(body).removeClass('disablecolor');
                    $(circle).removeClass('disablecolor');
                    $(maturity).addClass('displayno');
                    $(tooltip).tooltip('hide').attr('data-original-title', '關閉分派')
                    tooltipId = '';
                } else {
                    $(title).addClass('disablecolor');
                    $(body).addClass('disablecolor');
                    $(circle).addClass('disablecolor');
                    $(maturity).removeClass('displayno');
                    $(tooltip).tooltip('hide').attr('data-original-title', '開啟分派');
                    $('#todate').css('z-index', 10001).modal('show');
                    $('.modal-backdrop').css('z-index', 10000);
                    tooltipId = parentId;
                }
            })
        });
        $('#todate').on('hidden.bs.modal', function () {
            if (saveToDate) {
                return;
            } else {
                var input = $(tooltipId).find('input[type=checkbox]');
                $(input).prop('checked', true)
                $(input).trigger('change');
            }
        })
        /**/
    });

    function onSearchCust() {
        // show table
        $('input[name=custtype]').each(function () {
            var id = $(this).val();
            $('#data-list-' + id).removeClass('show');
        })

        $('#data-list-' + custType).addClass('show');

        var text = $('#custNum').val();
        if (text == 'error') {
            var htmlString = $('#search_error').html();
            $('#data-list-0').html(htmlString)
        }

    }

    function onClearSearchParam() {
        var string = '#search-section-' + custType + ' :input[type=text]'
        $(string).each(function () {
            $(this).val('')
        });
        $('div[name=custID]').removeClass('error');
        $('#searchBtn-' + custType).prop('disabled', true);
    }

    function cancel() {
        $('#confirm').modal('toggle');
    }

    function confirm() {
        var page = parseInt(custType) + 1
        location.href = 'data_' + page + '.html'
    }

    function openDatePicker(id) {
        console.log('aaa')
        var did = "#" + id
        $(did).datepicker('show');
    }

    function search(id) {
        $('#' + id).removeClass('displayno');
    }

    function onSearchCust() {
        // show table

        var text = $('#custNum').val();
        if (text == 'error') {
            var htmlString = $('#search_error').html();
            $('#data-list-0').html(htmlString)
        }

    }
</script>

<script id="search_error" type="text/template">
    <div class="nodata">
        <div>
            <img src="img/img_empty.png" class="d-inline-block align-top" alt="">
        </div>
        <h6>查無資料</h6>
        <button type="button " class="btn btn-outline-primary my-2 my-sm-0 " data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">新增潛在顧客</button>
    </div>
</script>
</body>
</html>