<!-- pageNum -->
<nav class="navNum navbar-light">
  <form class="form-inline">
    <div>
      <button class=" btn-sm pageNum">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>
      <button class=" btn-sm pageNum">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
      <span class="loanChartNote">1 of 1</span>
    </div>
    <div>
      <span class="loanChartNote">Items per page:
        <select class="form-control inputstyle">
          <option>50</option>
        </select>
      </span>
    </div>
  </form>
</nav>