<div id="modalSearchEDMPreview" class="TopChartNav">
  <div class="col-8 float-right sidepanel pr-0 pl-0">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('#modalSearchEDMPreview')">&times;</a>
    <h2 class="card-title Toptit shadow text-left">SFA平台公教人員信貸專案
      <br>
      <span class="ps_note">有效期限 2017/03/19</span>
      <div class="float-right openYellowBtn">
        <button type="button" class="btn btn-ylw ">上傳 QR code</button>
        <button type="button" class="btn btn-ylw " onclick="confirm()">
          <i class="fa fa-envelope-o iconspace" aria-hidden="true"></i>確認寄出
        </button>
      </div>
    </h2>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <img src="img/dm.png" alt="Cinque Terre ">
        </div>
      </div>
    </div>

  </div>
</div>
