<div class="modal fade" id="modalAgree" tabindex="-1" role="dialog" aria-labelledby="modalAgree" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">放行</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row col-12">
              <label>放行後此筆即刻生效，請詳加確認。</label>
            </div>
            <div class="dropdown-divider mb-3"></div>
            <div class="row">
              <h6 class="col-3 text-black-50">申請人</h6>
              <h6 class="col-9">李維維&nbsp;00325&nbsp;<small class="text-black-50">2018/03/23</small></h6>

              <!-- <h6 class="col-3 text-black-50">覆核主管</h6>
              <h6 class="col-9">Vivian Chen&nbsp;<small class="text-black-50">2018/03/29</small></h6> -->
            </div>            
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-gry" data-dismiss="modal" aria-label="Close">取消</button>
          <button type="button" class="btn btn-ylw " data-dismiss="modal" aria-label="Close">確定</button>
        </div>
      </div>
    </div>
  </div>