<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SFA | 平台</title>

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"> -->
  <!-- Ionicon 2.0.1 -->
  <!-- <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> -->
  <!-- select -->
  <link rel="stylesheet" type="text/css" href="./css/bootstrap-select.min.css">
  <!-- dateRangePicker -->
  <link rel="stylesheet" type="text/css" href="./css/daterangepicker.css" />
  <!-- googleApi -->
  <link rel="stylesheet" type="text/css" href="./css/googleapi.css">
  <!-- clockpicker -->
  <link rel="stylesheet" type="text/css" href="./css/bootstrap-clockpicker.min.css" />
 
  <!-- main style -->
  <link rel="stylesheet" type="text/css" href="./css/styles.css?v=1531663004840">

  <!-- jquery -->
  <script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
  <!-- popper -->
  <script type="text/javascript" src="./js/popper.min.js"></script>
  <!-- bootstrap -->
  <script type="text/javascript" src="./js/bootstrap.min.js"></script>

  <!-- moment -->
  <script type="text/javascript" src="./js/moment-2.18.1.min.js"></script>
  <!-- fontawesome -->
  <!-- <script src="./js/fontawesome.js"></script> -->
  <!-- chart.js & plugin -->
  <script src="./js/Chart.min-2.7.1.js"></script>
  <script src="./js/chartjs-pieceLabel-plugin.js"></script>
  <!-- dateRangePicker -->
  <script type="text/javascript" src="./js/daterangepicker.js"></script>
  <!-- clockpicker -->
  <script src="./js/bootstrap-clockpicker.min.js"></script>
  <!-- select -->
  <script type="text/javascript" src="./js/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="./js/bootstrap-select-zh_TW.js"></script>
 
 
 

  <script type="text/javascript" src="./js/demo.js?v=1531663004840"></script>
</head>