
		<!-- sidebar -->
		<div id="agent_sidebar" class="sidebar maingreen">
			<ul class="nav">
				<li class="nav-item ">
					<a class="nav-link " href="Dashboard.html">Dashboard</a>
				</li>
				<li class="nav-item  ">
					<a class="nav-link " href="customer_search.html">顧客查詢</a>
				</li>
				
				<li class="nav-item ">
					<a class="nav-link collapsed" data-toggle="collapse" href="#agent_listinfo">名單管理
						<i class="fa fa-angle-down" aria-hidden="true"></i>
					</a>

					<ul id="agent_listinfo" class="ullistno panel-collapse collapse " role="menu">
						<li class="nav-item ">
							<a class="nav-link " href="namelist_search.html">
								名單查詢
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="namelist_search_myfavorite.html">
								我的最愛
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="namelist_search_todaytodo.html">
								今日行程
							</a>
						</li>
						
            
            
					</ul>
				</li>
				<li class="nav-item  ">
					<a class="nav-link" href="Refferal_search.html">商機轉介查詢</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link collapsed " data-toggle="collapse" href="#agent_listinfoTwo">行銷專區
						<i class="fa fa-angle-down" aria-hidden="true"></i>
					</a>

					<ul id="agent_listinfoTwo" class="ullistno panel-collapse collapse " role="menu">
						<li class="nav-item ">
							<a class="nav-link " href="marketing_search_loan.html">
								貸款試算
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="marketing_search_EDM.html">
								電子 DM
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="marketing_search_Map.html">
								行銷地圖
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="marketing_search_valuation.html">
								估價查詢
							</a>
						</li>


					</ul>
				</li>
				<li class="nav-item ">
					<a class="nav-link collapsed" data-toggle="collapse" href="#agent_listinfoThree">後台管理
						<i class="fa fa-angle-down" aria-hidden="true"></i>
					</a>

					<ul id="agent_listinfoThree" class="ullistno panel-collapse collapse " role="menu">
						<li class="nav-item ">
							<a class="nav-link " href="Mange_character.html">
								角色權限
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="Mange_marketing.html">
								行銷團隊
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="Mange_email.html">
								E-mail 樣板
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="Mange_notification.html">
								推播通知
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="Mange_arrange.html">
								總行指派案件
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="Mange_lateNotice.html">
								名單/案件逾期通知
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="Mange_tag.html">
								推薦產品標籤
							</a>
						</li>
						
						
					</ul>
				</li>
				<li class="nav-item ">
					<a class="nav-link " href="report_search.html">成效報表</a>
				</li>
			</ul>
		</div>

		<!-- sidebar -->
		<div id="manager_sidebar" class="sidebar maingreen">
			<ul class="nav">
				<li class="nav-item ">
					<a class="nav-link " href="Dashboard.html">Dashboard</a>
				</li>
				<li class="nav-item  ">
					<a class="nav-link " href="M_customer_search.html">顧客查詢</a>
				</li>
				
				<li class="nav-item ">
					<a class="nav-link collapsed" data-toggle="collapse" href="#manager_listinfo">名單管理
						<i class="fa fa-angle-down" aria-hidden="true"></i>
					</a>

					<ul id="manager_listinfo" class="ullistno panel-collapse collapse " role="menu">
						<li class="nav-item ">
							<a class="nav-link " href="M_namelist_search.html">
								名單查詢
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="M_namelist_search_myfavorite.html">
								我的最愛
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="M_namelist_search_todaytodo.html">
								今日行程
							</a>
						</li>
						
            
						<li class="nav-item ">
							<a class="nav-link " href="M_namelist_search_recheck.html">
								名單覆核
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="M_namelist_search_trans.html">
								名單分派
							</a>
						</li>
						
            
					</ul>
				</li>
				<li class="nav-item  ">
					<a class="nav-link" href="Refferal_search.html">商機轉介查詢</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link collapsed " data-toggle="collapse" href="#manager_listinfoTwo">行銷專區
						<i class="fa fa-angle-down" aria-hidden="true"></i>
					</a>

					<ul id="manager_listinfoTwo" class="ullistno panel-collapse collapse " role="menu">
						<li class="nav-item ">
							<a class="nav-link " href="marketing_search_loan.html">
								貸款試算
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="marketing_search_EDM.html">
								電子 DM
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="marketing_search_Map.html">
								行銷地圖
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="marketing_search_valuation.html">
								估價查詢
							</a>
						</li>


					</ul>
				</li>
				<li class="nav-item ">
					<a class="nav-link collapsed" data-toggle="collapse" href="#manager_listinfoThree">後台管理
						<i class="fa fa-angle-down" aria-hidden="true"></i>
					</a>

					<ul id="manager_listinfoThree" class="ullistno panel-collapse collapse " role="menu">
						<li class="nav-item ">
							<a class="nav-link " href="Mange_character.html">
								角色權限
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="M_Mange_marketing.html">
								行銷團隊
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="Mange_email.html">
								E-mail 樣板
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="M_Mange_notification.html">
								推播通知
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="Mange_arrange.html">
								總行指派案件
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="Mange_lateNotice.html">
								名單/案件逾期通知
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="M_Mange_tag.html">
								推薦產品標籤
							</a>
						</li>
						
						
					</ul>
				</li>
				<li class="nav-item ">
					<a class="nav-link " href="report_search.html">成效報表</a>
				</li>
			</ul>
		</div>

		<!-- sidebar -->
		<div id="admin_sidebar" class="sidebar maingreen">
			<ul class="nav">
				<li class="nav-item ">
					<a class="nav-link " href="Dashboard.html">Dashboard</a>
				</li>
				<li class="nav-item  ">
					<a class="nav-link " href="customer_search.html">顧客查詢</a>
				</li>
				
				<li class="nav-item  ">
					<a class="nav-link " href="M_customer_search.html">M_顧客查詢</a>
				</li>	
				
				<li class="nav-item ">
					<a class="nav-link collapsed" data-toggle="collapse" href="#admin_listinfo">名單管理
						<i class="fa fa-angle-down" aria-hidden="true"></i>
					</a>

					<ul id="admin_listinfo" class="ullistno panel-collapse collapse " role="menu">
						<li class="nav-item ">
							<a class="nav-link " href="namelist_search.html">
								名單查詢
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="M_namelist_search.html">
								M_名單查詢
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="namelist_search_myfavorite.html">
								我的最愛
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="M_namelist_search_myfavorite.html">
								M_我的最愛
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="namelist_search_todaytodo.html">
								今日行程
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="M_namelist_search_todaytodo.html">
								M_今日行程
							</a>
						</li>
						
            
            
						<li class="nav-item ">
							<a class="nav-link " href="M_namelist_search_recheck.html">
								名單覆核
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="M_namelist_search_trans.html">
								名單分派
							</a>
						</li>
            
					</ul>
				</li>
				<li class="nav-item  ">
					<a class="nav-link" href="Refferal_search.html">商機轉介查詢</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link collapsed " data-toggle="collapse" href="#admin_listinfoTwo">行銷專區
						<i class="fa fa-angle-down" aria-hidden="true"></i>
					</a>

					<ul id="admin_listinfoTwo" class="ullistno panel-collapse collapse " role="menu">
						<li class="nav-item ">
							<a class="nav-link " href="marketing_search_loan.html">
								貸款試算
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="marketing_search_EDM.html">
								電子 DM
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="marketing_search_Map.html">
								行銷地圖
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="marketing_search_valuation.html">
								估價查詢
							</a>
						</li>


					</ul>
				</li>
				<li class="nav-item ">
					<a class="nav-link collapsed" data-toggle="collapse" href="#admin_listinfoThree">後台管理
						<i class="fa fa-angle-down" aria-hidden="true"></i>
					</a>

					<ul id="admin_listinfoThree" class="ullistno panel-collapse collapse " role="menu">
						<li class="nav-item ">
							<a class="nav-link " href="Mange_character.html">
								角色權限
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="M_Mange_character.html">
								M_角色權限
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="Mange_marketing.html">
								行銷團隊
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="M_Mange_marketing.html">
								M_行銷團隊
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="Mange_email.html">
								E-mail 樣板
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="M_Mange_email.html">
								M_E-mail 樣板
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="Mange_notification.html">
								推播通知
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="M_Mange_notification.html">
								M_推播通知
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="Mange_arrange.html">
								總行指派案件
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="M_Mange_arrange.html">
								M_總行指派案件
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="Mange_lateNotice.html">
								名單/案件逾期通知
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="M_Mange_lateNotice.html">
								M_名單/案件逾期通知
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="Mange_tag.html">
								推薦產品標籤
							</a>
						</li>
						
						<li class="nav-item ">
							<a class="nav-link " href="M_Mange_tag.html">
								M_推薦產品標籤
							</a>
						</li>
						
						
						<li class="nav-item ">
							<a class="nav-link " href="Mange_productNum.html">
								產品參數
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="M_Mange_productNum.html">
								M_產品參數
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="Mange_systemNum.html">
								系統參數
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="M_Mange_systemNum.html">
								M_系統參數
							</a>
						</li>
						
					</ul>
				</li>
				<li class="nav-item ">
					<a class="nav-link " href="report_search.html">成效報表</a>
				</li>
			</ul>
		</div>