
		<!-- sidebar -->
		<div id="_sidebar" class="sidebar maingreen">
			<ul class="nav">
				<li class="nav-item ">
					<a class="nav-link headtitle " href="# "> SFA | 平台</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link " href="Dashboard.html">Dashboard</a>
				</li>
				<li class="nav-item  ">
					<a class="nav-link " href="customer_search.html">顧客查詢</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link collapsed" data-toggle="collapse" href="#_listinfo">名單管理
						<i class="fa fa-angle-down" aria-hidden="true"></i>
					</a>

					<ul id="_listinfo" class="ullistno panel-collapse collapse " role="menu">
						<li class="nav-item ">
							<a class="nav-link " href="namelist_search.html">
								名單查詢
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="namelist_search_myfavorite.html">
								我的最愛
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="namelist_search_todaytodo.html">
								今日行程
							</a>
						</li>
            
					</ul>
				</li>
				<li class="nav-item  ">
					<a class="nav-link" href="Refferal_search.html">商機轉介查詢</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link collapsed " data-toggle="collapse" href="#_listinfoTwo">行銷專區
						<i class="fa fa-angle-down" aria-hidden="true"></i>
					</a>

					<ul id="_listinfoTwo" class="ullistno panel-collapse collapse " role="menu">
						<li class="nav-item ">
							<a class="nav-link " href="marketing_search_loan.html">
								貸款試算
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="marketing_search_EDM.html">
								電子 DM
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="marketing_search_Map.html">
								行銷地圖
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="marketing_search_valuation.html">
								估價查詢
							</a>
						</li>


					</ul>
				</li>
				<li class="nav-item ">
					<a class="nav-link collapsed" data-toggle="collapse" href="#_listinfoThree">後台管理
						<i class="fa fa-angle-down" aria-hidden="true"></i>
					</a>

					<ul id="_listinfoThree" class="ullistno panel-collapse collapse " role="menu">
						<li class="nav-item ">
							<a class="nav-link " href="Mange_character.html">
								角色權限
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="Mange_marketing.html">
								行銷團隊
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="Mange_email.html">
								E-mail 樣板
							</a>
						</li>

						<li class="nav-item ">
							<a class="nav-link " href="Mange_notification.html">
								推播通知
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="Mange_arrange.html">
								總行指派案件
							</a>
						</li>

						<li class="nav-item ">
							<a class="nav-link " href="Mange_lateNotice.html">
								名單/案件逾期通知
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="Mange_tag.html">
								推薦產品標籤
							</a>
						</li>
						
					</ul>
				</li>
				<li class="nav-item ">
					<a class="nav-link " href="report_search.html">成效報表</a>
				</li>
			</ul>
		</div>