// Set the number of columns and specify the width of the gutters.

// $grid-columns:                12;
$grid-gutter-width:           20px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

$link-color: #666666;