<div id="t1528763431100" class="displayno">
  <b>主管退回原因</b>
  <div class="dropdown-divider"></div>
  系統測試。
  <div class="dropdown-divider"></div>
  <div>覆核主管：Vivan Chen <small class="text-black-50">2018/6/6</small></div>
</div>

<div id="t1528764414084" class="displayno">
  <b>角色設定變更</b>
  <div class="dropdown-divider"></div>
  <span class="textGary">異動前：行銷職系經辦</span>
  <br />
  <span class="textGary">異動後：</span><span class="text-highlight">後台管理主管、總行管理主管、行銷職系經辦</span>
  
  <!-- <div class="dropdown-divider"></div>
  <div>覆核主管：Vivan Chen <small class="text-black-50">2018/6/6</small></div> -->
</div>