
<div id="result_2" class="table-responsive data-list table-striped">
  <table class="table table-striped tableinfo">
    <thead>
      <tr>

        <th scope="col ">單號</th>
        <th scope="col ">主旨

        </th>
        <th scope="col ">建立者</th>
        <th scope="col ">指派單位</th>
        <th scope="col ">指定回覆日期</th>
        <th scope="col ">結案日</th>

        <th scope="col "></th>
      </tr>
    </thead>
    <tbody>
      <tr>

        <td>
          AA0012356789
        </td>
        <td>
          日本東京來回機票資格審核名單
        </td>
        <td>陳先生</td>
        <td>01234 板橋分行</td>
        <td>
          2018/01/07
        </td>
        <td>-</td>
        <td class="money-right">

          <button class="btn btn-outline-primary btn-sm " type="button" onclick="{location.href='./namelist_search_trans_Maindata.html' }">
            檢視
          </button>


        </td>
      </tr>
      <tr>

        <td>
          AA0012356789
        </td>
        <td>
          日本名古屋來回機票特別貴賓禮遇豪華資格審...
        </td>
        <td>陳先生</td>
        <td>01234 板橋分行</td>
        <td>
          2018/01/07
        </td>
        <td>2018/01/07</td>

        <td class="money-right">

          <button class="btn btn-outline-primary btn-sm " type="button" onclick="{location.href='./namelist_search_trans_Maindata.html' }">
            檢視
          </button>


        </td>
      </tr>
      <tr>

        <td>
          AA0012356789
        </td>
        <td>
          地溝油廠商來訪名單
        </td>
        <td>陳先生</td>
        <td>01234 板橋分行</td>
        <td>
          2018/01/07
        </td>
        <td>-</td>

        <td class="money-right">

          <button class="btn btn-outline-primary btn-sm " type="button" onclick="{location.href='./namelist_search_trans_Maindata.html' }">
            檢視
          </button>


        </td>
      </tr>
      <tr>

        <td>
          AA0012356789
        </td>
        <td>
          日本東京來回機票資格審核名單
        </td>
        <td>陳先生</td>
        <td>01234 板橋分行</td>
        <td>
          2018/01/07
        </td>
        <td>2018/01/07</td>

        <td class="money-right">

          <button class="btn btn-outline-primary btn-sm " type="button" onclick="{location.href='./namelist_search_trans_Maindata.html' }">
            檢視
          </button>


        </td>
      </tr>

    </tbody>
  </table>
  <!-- pageNum -->
  <!-- pageNum -->
<nav class="navNum navbar-light">
  <form class="form-inline">
    <div>
      <button class=" btn-sm pageNum">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>
      <button class=" btn-sm pageNum">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
      <span class="loanChartNote">1 of 1</span>
    </div>
    <div>
      <span class="loanChartNote">Items per page:
        <select class="form-control inputstyle">
          <option>50</option>
        </select>
      </span>
    </div>
  </form>
</nav>
</div>

