@@include('./sidebar_main.html', {
  "sidebar":"@@sidebar",
  "sidebarCollapseFirst":"@@sidebarCollapseFirst", 
  "sbCharacter":"agent", 
  "sbCharAssign": ""})
@@include('./sidebar_main.html', {
  "sidebar":"@@sidebar",
  "sidebarCollapseFirst":"@@sidebarCollapseFirst", 
  "sbCharacter":"manager", 
  "sbCharAssign": "M_"})
@@include('./sidebar_main.html', {
  "sidebar":"@@sidebar",
  "sidebarCollapseFirst":"@@sidebarCollapseFirst", 
  "sbCharacter":"admin", 
  "sbCharAssign": "",
  "sbCharAsgnAdmin": "M_"})